header {
    background-image: url(../img/adsnapbg1.jpg);

}
a:hover {
    color: black;
}
.instagram{
    float: left;
    position: relative;
}
.twitter{
    float: right;
    position: relative;
}
.footer{
    background-color: black;
    text-align: center;
}
.links{
    font-size: 15px;
    padding-left: 25px;
}
.lookbook{
        background-image: url(../img/runwaylg.jpg);

}
h2{
    margin-top: -50px;
}
.page-look{
    background-color: #f05f40;
}
.ad{
        background-image: url(../img/create.jpg);

}
.form-btn{
    background-color: #f05f40;
    color: #fff;
}
.blkwht{
        background-image: url(../img/tokyorunway.jpg);
}
.showad{
    background-color: #4108d4;
    color: #000;
}
.ad-info{
    font-weight: bold;
    font-size: 18px;

}
      
